.overdueTasksGrid {
    display: grid;
            /* border: solid black 1px; */
        overflow: auto; 
        max-height: calc(50% - 5.0rem);
}
.deadline-h1 {
    font-size: 3rem;
    text-decoration: underline;
    /* color: #1A343F; */
    color: #3e4bad;
}
.upcoming-h1 {
    margin-top: .75rem;
    margin-bottom: 1.25rem;
}
.overdue-h1 {
    margin-top: .75rem;
    margin-bottom: 1.25rem;
}
.upcomingTasksGrid {
    
            /* width: 90vw; */
            display: grid;
            /* justify-content: space-around; */
            /* grid-template-rows: .25fr 1fr .1fr; */
            /* grid-template-columns: .25fr 1fr .25fr; */
            
            
            /* margin-right: 25px; */
            /* height: 80vh; */
            /* display: table; */
            /* grid-auto-columns: minmax(min-content, min-content); */
            
        /* border: solid black 1px; */
        overflow: auto;
        height: calc(50% - 5.5rem);
        
    }
    .dimensions-dead {
    height: 95vh;
    width: 60vw;
}
.deadline-position {
    top: 2.5vh;
    left: 20vw;
}

.exitModalIcon-dl {
    cursor: pointer;
    position: fixed;
    right: 1.625rem;
    top: 1rem;
    font-size: 2.5rem;
}

    .singleRow {
        /* display: grid; */
    }
    .alternateRow {
        background-color: #ECECEC; 
    }
    .deadline-contents {
        height: 95vh;
        /* overflow: auto; */
        /* border: 2px solid red; */
    }

    .row-layout {
        /* border: solid black 1px; */
        display: flex;
        align-items: center;
    }
    .individTemp {
        /* border: solid red 1px; */
        /* margin: 0 auto; */
    }
    .individTemp-date {
        padding-left: 1rem;
        float: left;
        text-decoration: underline;
        /* width: 20%; */
        
    }
    .individTemp-notes {
        /* float: right; */
        margin-left: auto;
    }
    .individTemp-content {
        margin: 0;
        display: table;
    }

    .deadline-position {
    padding: 0 !important;
}

.spacingBetweenTypes {
    background-color: #ECECEC;
    height: .2rem;
}
/* ****************************************************************************** */

/* ****************************************************************************** */

@media screen and (max-width: 1024px) {

.dimensions-dead {
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
}
       .deadline-h1 {
        margin-bottom: 0.5rem;
        margin-top: .5rem;
    }
    .row-layout {
    display: flex;
    flex-direction: row;
} 


    .deadline-h1 {
        margin-bottom: 0.5rem;
        margin-top: .5rem;
    }
}
/* ****************************************************************** */

@media screen and (max-width: 768px) {
       .deadline-h1 {
        margin-bottom: 0.5rem;
        margin-top: .5rem;
    }
    .row-layout {
    display: flex;
    flex-direction: row;
} 

    .dimensions-dead {
            height: 100vh;
            width: 100vw;
            left: 0;
            top: 0;
}
    .deadline-h1 {
        margin-bottom: 0.5rem;
        margin-top: .5rem;
    }
}

/* ****************************************************************** */

@media screen and (max-width: 576px) {
.dimensions-dead {
    height: 100vh !important;
    width: 100vw;
    left: 0;
    top: 0 !important;
}
.row-layout {
    display: flex;
    flex-direction: column;
} 
.individTemp-date {
    color: teal;
}
.individTemp-notes {
    margin-left: 0 !important;   
}
    
}