.logoutModal {
    height: 45%;
    width: 29%;
    left: 35.5vw;
    top: 27.5vh;
}

.defaultDimensions {
    height: 95%;
    width: 58%;
}



.logoutBtnModal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #6675df;
  
    font-family: Montserrat;
    font-size: 2.5rem;
    padding: .7rem;

    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
.logoutBtn-container {
    width: 50%;
    left: 25%;
    margin: auto;
    
}


/************************************************************************************************
*************************************************************************************************/
@media screen and (max-width: 1024px) {
.logoutModal {
    height: 45vh;
    width: 50vw;
    left: 25vw;
    top: 25vh;
    /* justify-content: center; */
}

.logoutItems{
    top: 75%;
    position: relative;
}

}

/************************************************************************************************
*************************************************************************************************/
@media screen and (max-width: 1024px) {
.logoutModal {
    height: 40vh;
    width: 50vw;
    left: 25vw;
    top: 30vh;
    /* justify-content: center; */
}

.logoutItems{
    top: 10%;
    position: relative;
}

}

/************************************************************************************************
*************************************************************************************************/
@media screen and (max-width: 768px) {
.logoutModal {
    height: 80vh;
    width: 50vw;
    left: 25vw;
    top: 15vh;
    /* justify-content: center; */
}

.logoutItems{
    top: 25%;
    position: relative;
}

}

/************************************************************************************************
*************************************************************************************************/
@media screen and (max-width: 576px) {
.logoutModal {
    height: 65vh;
    width: 90vw;
    left: 5vw;
    top: 17.5vh;
    /* justify-content: center; */
}

.logoutItems{
    top: 30%;
    position: relative;
}

}