.modalData-edit {
    width: 100%;
    height: 100%;
    display: flex;
    
}


.modalTitle {
    max-width: 100%;
    display: inline-block;
    word-break: break-word;
}

.left-modalData {
    height: 100%;
    width: 50%;
    padding: 1rem;
}

.itemDescription {
    
    height: 100%;
}

.itemDescription__textarea {
    height: 25rem;
    width: 100%;
    resize: none;
}
.itemDescription__displayDescription {
    height: 80%;
    overflow: auto;
    
}

.right-modalData {
    /* border: solid purple 4px; */
    height: 100%;
    width: 50%;
}
.settings-notes {
    display: flex;
}
.calendarComponent {
    display: flex;
    padding-top: 2rem;
    margin-bottom: 1rem;
    /* margin-top: 1rem; */
}

.emailSettings{
    margin-bottom: 2rem;
}

.dropdownButtons {
    width: 100%;
    display: flex;
    left: 4%;
    position: relative;
    /* border: solid yellow 3px; */
}

.NotesContainer {
    /* border: solid rgb(165, 39, 39) 1px; */
    /* width: 67%; */
    
    width: 100%;
    
}

.NotesContainer__textarea--input {
    height: 15rem;
    resize: none;
    
}

.NotesContainer__textarea {
    
}

.NotesContainer__buttons {
    display: flex;

}

.NotesContainer__buttons-align {
    margin-left: auto;
    margin-right: auto;
}

.delete-btn,
.NotesContainer__buttons-defaultModalBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 1rem;
    /* width: 100%; */
    /* height: 50px; */
    border-radius: 10px;
    background: #6675df;
  
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .delete-btn {
      margin: 3rem auto;
  }

/*  * * * * * * * * * * * * * * * * * ** * * * * * * ** * */

.notesTextAreaContainer {
    width: 40%;
    /* height: 20%; */
}

.newTitleArea {
    resize: none;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    z-index: 100;
}



.descriptionTextArea {
    resize: none;
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.displayDescription {
    font-size: 1.5rem;
}
.itemDescription {
    /* border: solid black 2px; */
    /* height: 100%; */
    font-size: 1.4rem;
    height: 100% !important;
    max-width: 100%;
    display: inline-block;
    word-break: break-word;
}




.mainModalBtn-spacing {
    padding-left: 1rem;
    /* width: 0 !important; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: center;
}


.Modal {
    display: flex;
    flex-direction: column;
}

/* Override packaage specifications */
.react-datepicker {
    font-size: 1.5rem !important;
}
.editTitle:hover {
    cursor: pointer;
}

.halfWidth {
    width: 0 !important;
}

.greyed {
    background-color: grey;
}
.editTitle {
    color: blue;
    text-decoration: underline;
    transform: translateY(-10px);
}

.onOffBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    
    border-radius: 10px;
    background: #6675df;
  
    font-family: Montserrat-Bold;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    margin-right: 1rem;
    margin-left: 1rem;
    
}

.timerItem {
    /* width: 10px; */
    width: 8rem;
}
.newEditBtn {
    /* visibility: hidden; */
}


@media screen and (max-width: 768px) {
  .dropdownButtons {
        left: 0;
    }
    .onOffBtn {
        transform: translateX(-2rem);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0; 
    }
    .calendarComponent {
        transform: scale(0.9) translateX(-1rem);
        /* margin: 0; */
        padding: 0;
    }
    .modalTitle {
        display: flex;
        background-color: lightsalmon;
        position: relative;
        top: 0;
    }
    .modalTitle-status-container {
        background-color: lightpink;
        /* display: flex; */
        /* position: absolute; */
    }
    .modalData-edit {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        /* height: auto; */
        overflow: scroll;
    }
    .left-modalData {
        width: 100%;
        /* height: 100%; */
        padding-bottom: 4rem;
        background-color: lightcyan;
        /* position: absolute; */
        height: 100%;
    }
    .right-modalData {
        width: 100%;
        /* height: 100%; */
        position: relative;
        height: 100%;
        background-color: lightcyan;
        padding-bottom: 4rem;
    }
}
/* *************************************************************************** */
@media screen and (max-width: 576px) {
    .dropdownButtons {
        left: 0;
    }
    .onOffBtn {
        transform: translateX(-2rem);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 0; 
    }
    .calendarComponent {
        transform: scale(0.9) translateX(-1rem);
        /* margin: 0; */
        padding: 0;
    }
    .modalTitle {
        display: flex;
        background-color: lightsalmon;
        position: relative;
        top: 0;
    }
    .modalTitle-status-container {
        background-color: lightpink;
        /* display: flex; */
        /* position: absolute; */
    }
    .modalData-edit {
        display: flex;
        flex-direction: column;
        /* position: absolute; */
        /* height: auto; */
        overflow: scroll;
    }
    .left-modalData {
        width: 100%;
        /* height: 100%; */
        padding-bottom: 4rem;
        background-color: lightcyan;
        /* position: absolute; */
        height: 100%;
    }
    .right-modalData {
        width: 100%;
        /* height: 100%; */
        position: relative;
        height: 100%;
        background-color: lightcyan;
        padding-bottom: 4rem;
    }


    
}

@media screen and (max-width: 329px) {
    .onOffBtn {
        transform: translateX(-2rem);
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0;
    }
}