.Modal {
    min-height: 95%;
    position: fixed;
    z-index: 500;
    background-color: lightgrey;
    width: 58%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 21vw;
    top: 2.5vh;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.modalTitle {
    font-size: 1rem;
    text-align: left;
    padding-left: 2rem;
    
    padding-top: 1.5rem;
    /* background-color: red; */
    max-width: 100%;
}
.modalTitle-status {
    font-size: 1rem;
    /* color: green; */
}
.modalTabOne {
    background-color: yellow;
    position: absolute;
    width: 95%;
    height: 15%;
}
/* @media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */