.Modal {
    position: fixed;
    z-index: 500;
    background-color: lightgrey;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 1rem;
    left: 21vw;
    top: 2.5vh;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.defaultDimensions {
    height: 95%;
    width: 58%;
}

.logoutModal {
    height: 45%;
    width: 29%;
}

.modalTitle {
    font-size: 1.6rem;
    text-align: left;
    padding-left: 3.2rem;
    
    padding-top: 2.4rem;
    /* background-color: red; */
    max-width: 100%;
}
.modalTitle-status {
    font-size: 1rem;
    /* color: green; */
}

.calendarComponent{
    /* font-size: 3rem; */
    min-width: 300px;
}
.react-datepicker {
    font-size: 1.5rem;
}

.modalTabOne {
    /* background-color: yellow; */
    position: absolute;
    width: 95%;
    height: 15%;
}
/* @media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */