.sidebar {
    height: 96vh;
    background-color: #E7DDE5;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    /* max-width:10vw; */
    /* position: -webkit-sticky; */
    /* position: sticky; */
    top: 0;
    /* z-index: -100; */
}
.bottomBtn {
    margin-top: auto;
}

@media screen and (max-width: 768px) {
.sidebar {
    min-width: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 4rem;
     z-index: 1 !important;
}

.bottomBtn {
    margin-top: 0;
}
.top,
.bottomBtn,
.logoutBtn {
    /* padding: 0 15px !important; */
    width: 33%;
    padding: 0 !important;
}

}

@media screen and (max-width: 576px) {
.sidebar {
    min-width: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 4rem;
     z-index: 1 !important;
}

.bottomBtn {
    margin-top: 0;
}
.top,
.bottomBtn,
.logoutBtn {
    z-index:1000000;
    height: 4rem;
    /* padding: 0 15px !important; */
    width: 33%;
    /* padding: 0 !important; */
}

}
