.time-line-ctnr {
    .time-line {
      position: relative;
      margin: 0 0 0px 0;
      padding: 0;
      list-style: none;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: -10px;
        width: 2px;
        background: #3498db;
        left: 32px; /** query **/
        border-radius: 2px;
      }
      > .time-label {
        > span {
          font-weight: 600;
          padding: 5px 10px;
          display: inline-block;
          background-color: #e74c3c;
          color: #fff;
          border-radius: 2px;
          font-size: 14px;
        }
      }
      > li {
        position: relative;
        margin-bottom: 10px;
        margin-right: 0;
        > .time-line-item {
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          background: #fff;
          color: #444;
          margin-right: 15px;
          position: relative;
          margin-left: 50px; /** query **/
          > .time-line-header,
          .time {
            font-size: 14px;
            padding: 6px 10px;
          }
          .time {
            font-size: 12px;
            color: #999;
            float: right;
          }
          .time-line-header {
            margin: 0;
            color: #555;
            border-bottom: 1px solid #f4f4f4;
            line-height: 1.1;
            font-size: 1.6rem;
          }
        }
        > .fa {
          position: absolute;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          color: #666;
          background: #ecf0f1;
          left: 28px; /** query **/
          top: 9px;
          border: 2px solid #3498db;
          display: inline-block;
          box-sizing: border-box;
        }
      }
    }
  }

  .deleteTimelineItem {
      color: red;
      cursor: pointer;
      font-size: 1.4rem;
      // text-decoration: underline;
  }
  @media screen and (max-width: 1400px) {
      .time-line:before {
        left:  22px !important;
      }
      
      li {
        margin-left: -10px !important;
        margin-right: -10px !important;
      }
        .deleteTimelineItem {
      font-size: 1.6rem;
    }
  }

 @media screen and (max-width: 1024px) {
      .time-line:before {
        left: 12px !important;
      }
      
      li {
        margin-left: -20px !important;
        margin-right: -10px !important;
      }
        .deleteTimelineItem {
      font-size: 1.6rem;
    }
      fa {
        // font-size: 3rem;
        // left: 28px !important;
      }
  }
     @media screen and (max-width: 768px) {
      .time-line:before {
        left: 12px !important;
      }
      
      li {
        margin-left: -20px !important;
        margin-right: -10px !important;
      }
        .deleteTimelineItem {
      // 1.6rem
    }
      fa {
        // font-size: 3rem;
        // left: 28px !important;
      }
  }


   @media screen and (max-width: 576px) {
      .time-line:before {
        left: 12px !important;
      }
      
      li {
        margin-left: -20px !important;
        margin-right: -10px !important;
      }
        .deleteTimelineItem {
      // 1.6rem
    }
      fa {
        // font-size: 3rem;
        // left: 28px !important;
      }
  }
