.box {
    box-sizing: border-box;
    color: #fff;
    border-radius: 5px;
    padding: 1.25rem;
    text-align: center;
    text-justify: center;
    /* background-color: #EFF1F3; */
    background-color: lightblue;
    display: table;
    border-collapse: collapse; 
    /* height: */
    
    /* background-color: green; */
  }
