.open {
    background-color: #5885CC;
  }

.titleColor-0 {
  color: #5885CC;
}

  .progress {
    background-color: #e86f55;
  }
  .titleColor-1 {
    color: #e86f55;
  }
  

  .test {
    background-color: #8eaa5b;
  }
  .titleColor-2 {
    color: #8eaa5b;
  }

  .reopened {
    background-color: #84531c;
  }
  .titleColor-3 {
    color: #84531c;
  }

  .closed {
    background-color: #61c6c1;
  }
  .titleColor-4 {
    color: #61c6c1;
  }

  .box-title {
    /* background-color: #5885cc; */
    height: 4.5rem;
    font-size: 2rem;
    display: table-cell;
    vertical-align: middle;
      margin-bottom: 20px;
    /* width: 100%; */
}
