.newCard {
    font-size: 1.4rem;
    margin-top: 1,2rem;
    margin-bottom: 1.2rem;
    margin-left: 0.96rem;
    margin-right: 0.96rem;
    /* padding-top: 10px; */
    /* border: black solid 2px; */
    color: #5e6c84;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    resize: none;
}

.textStyle {
    resize: none;
    border-radius: 3px;
}


input {
    height: 4.8rem;
}
.plus {
    font-size: 1.92rem;
}

.closeAddCard {
    margin-left: 5px;
    padding-right: 10rem;
}

.closeAddCard:hover{
    color: red;
    cursor: pointer;
}
.addCardButton:hover {
    background-color: yellow;
}
.submitCancel {
    display: flex;
    align-items: center;
}
.addBtn {
    color: red !;
    float: left;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom:5px;
    font-size: 1.6rem;
}

.close {
    float: left;
    margin-left: 1rem;
}